.loader {
    z-index: 1;
    margin: 400px auto;
    border: 3px solid #000000;
    border-radius: 50%;
    border-top: 3px solid #29B99C;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}